@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

.redLine {
  width: 100%;
  height: 50px;
  background-color: red;
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 141px;
  height: 113px;
}

.address div p {
  font-weight: 600;
}

.email {
  text-decoration: none;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
    font-style: italic;
    text-decoration: underline;
  font-size: 25px;
  color: orangered;
  font-weight: 900;
  margin-bottom: 30px;
}

.membership p {
  font-weight: 600;
  margin-bottom: 5px;
}
.membership a {
  text-decoration: none;
  color: black;
}

.membership a:hover {
  color: orangered;
}

.followUs {
  width: 200px;

  justify-content: space-between;
  gap: 80px;
}

.heading2 {
    font-style: italic;
    text-decoration: underline;
  font-size: 25px;
  color: orangered;
  font-weight: 900;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons img {
  margin-right: 10px;
  margin-top: 30px;
}

.cpy {
 text-align: center;
 font-weight: 700;
}
