@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@300&family=Open+Sans:ital,wght@0,300;1,400&display=swap");

.redLine {
  width: 100%;
  height: 50px;
  background-color: red;
}

footer {
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2%;
  background-color: #1e1e1e;
}

.address {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logoS {
  width: 141px;
  height: 113px;
}

.address div p {
  font-weight: 600;
}

.email {
  text-decoration: none;
}

.aboutUs {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading1 {
  font-style: italic;
  text-decoration: underline;
  font-size: 25px;
  color: orangered;
  font-weight: 900;
}

.membership p {
  font-weight: 600;
  margin-bottom: 5px;
}
.membership a {
  text-decoration: none;
  color: white;
}

.membership a:hover {
  color: orangered;
}

.followUs {
  margin-top: 5%;
  text-transform: uppercase;
}

.heading2 {
  font-style: italic;
  text-decoration: underline;
  font-size: 25px;
  color: orangered;
  font-weight: 900;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons img {
  margin-right: 10px;
  margin-top: 30px;
  /* mix-blend-mode: color; */
}

.cpy {
  text-align: center;
  font-weight: 700;
  background-color: #1e1e1e;
  color: white;
  padding: 2%;
}

@media only screen and (max-width: 700px) {
  .fifthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    margin-top: 50px;
  }

  .followUs {
    margin-top: 50px;
  }

  .aboutUs {
    text-align: center;
  }

  .address {
    text-align: center;
  }

  .logoS{
    margin-left: 40px;
  }
}
